* {
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
	margin: 0;
}

body {
	background-color: #DCDCDC;
	margin: 0 auto;
}

h2 {
	font-size: 5.5vw;
}

.nav-container {
	width: 100%
}

.card-container {
	margin: 0 auto 5% auto;
	padding-top: 130px;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-bar {
	width: 100%;
	padding: 24px 40px 24px 40px; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 1;
}

.nav-img {
	width: 30%;

}

.current-bid {
	font-size: 4vw;
}

.card {
	background-color: white;
	padding: 5%;
	width: 85vw;
	height: 90vw;
	display: flex;
	flex-direction: column;
	margin: 0 auto 8% auto;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 8px;
	justify-items: flex-end;
}

.item-details {
	margin: 0;
	height: 28%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;


}

.item-name {
	padding: 3% 0 3% 0;
	font-size: 1.3em;
}

.img-container {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
}

.current-bid {
	margin: 0
}

.button {
	width: 27vw;
	height: 80%;
	display: inline-block;
	outline: 0;
	border: 0;
	cursor: pointer;
	background: #000000;
	color: #FFFFFF;
	border-radius: 8px;
	padding: 10px;
	font-size: 80%;
	font-weight: 700;
	line-height: 1;
	transition: transform 200ms, background 200ms;
}

.button:hover {
	transform: translateY(-2px);
}

.bid-modal {
	z-index: 1;
	position: fixed;
	height: -webkit-fill-available;
	margin: 5% 0 15% 0;
	width: 90vw;
	background-color: white;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 8px;
	justify-items: flex-end;
	justify-content: space-between;
}

.modal-bg {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(128, 128, 128, 0.5);
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

.modal-header-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 3.5%;

}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-title {
	font-size: 1.6em;
}

.close {
	color: #777;
	font: 14px/100% arial, sans-serif;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-size: x-large;
}

.close:after {
	content: '✖';
	/* UTF-8 symbol */
}

.modal-item-img {
	width: 100%;
	height: 60%;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 5%;
}

.modal-body {
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	font-size: 1.2em;
	overflow-y: scroll;
	margin-bottom: 5%;
	z-index: -1;
}

.modal-body::-webkit-scrollbar {
	display: none;
  }

.modal-footer {
	display: flex;
	justify-content: space-between;

}

.modal-inputname {
	height: 100%;
	width: 47%;
	border: none;
	background-color: lightgray;
	font-size: 150%;
	text-align: center;
	vertical-align: middle;
	border-radius: 8px;
}

.modal-inputbid {
	height: 100%;
	width: 23%;
	border: none;
	background-color: lightgray;
	font-size: 150%;
	text-align: center;
	vertical-align: middle;
	border-radius: 8px;
}

.modal-btn {
	width: 26%;
	height: 100%;
	outline: 0;
	border: 0;
	cursor: pointer;
	background: #000000;
	color: #FFFFFF;
	border-radius: 8px;
	padding: 10px;
	font-size: 90%;
	font-weight: 700;
	line-height: 1;
	transition: transform 200ms, background 200ms;
}

p {
	white-space: pre-wrap
}

.bids-title {
	align-self: flex-start;
	font-size: 1.1em;
}

.bids {
	height: 20%;
	width: 100%;
	overflow-y: scroll;
	margin: 2% 0 5% 0;
}

/* .bids::-webkit-scrollbar {
	display: none;
  } */

.splash {
	overflow: hidden;
	width: 150%;
	height: 150%;
	background-color: #FFFFFF;
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.splash-img {
	width: 25%;
	object-fit: contain;
}

.alert-container {
	margin-top: 165px;
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;
	align-items: center;
}

.donate-button {
	width: 114px;
	height: 48px;
	margin-left: 15px;
	display: inline-block;
	outline: 0;
	border: 0;
	cursor: pointer;
	background: #FFA500;
	color: #FFFFFF;
	border-radius: 8px;
	padding: 10px;
	font-size: 100%;
	font-weight: 700;
	line-height: 1;
	transition: transform 200ms, background 200ms;
}

.pseudo {
	display: none;
}

@media all and (min-width: 480px) {
	.splash-img {
		width: 15%;
		object-fit: contain;
	}
	
	.modal-body::-webkit-scrollbar {
		display: block;
	  }

	.nav-bar {
		width: 100%;
		padding: 25px 40px 25px 40px; 
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #FFFFFF;
		position: fixed;
		z-index: 1;
	}
	
	.nav-img {
		width: 135px;
		object-fit: contain;
	}

	.pseudo {
		display: none;
	}
	
	.card {
		background-color: white;
		padding: 25px;
		width: 380px;
		height: 450px;
		display: flex;
		flex-direction: column;
		margin: 15px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		border-radius: 8px;
		justify-items: flex-end;
	}
	
	.item-name {
		margin: 0;
		font-size: 1.3em;

	}
	
	.img-container {
		width: 100%;
		height: 100%;
		border-radius: 8px;
		background-size: cover;
		background-position: center;
	}
	
	.current-bid {
		margin: 0;
		font-size: 1em;
	}
	
	.button {
		width: 130px;
		height: 70%;
		display: inline-block;
		outline: 0;
		border: 0;
		cursor: pointer;
		background: #000000;
		color: #FFFFFF;
		border-radius: 8px;
		padding: 10px;
		font-size: 100%;
		font-weight: 700;
		line-height: 1;
		transition: transform 200ms, background 200ms;
	}
	
	.button:hover {
		transform: translateY(-2px);
	}
	
	.card-container {
		margin: 0 auto 5% auto;
		padding-top: 150px;
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.bid-modal {
		z-index: 1;
		position: fixed;
		height: 80%;
		margin: 5% 0 15% 0;
		width: 600px;
		background-color: white;
		padding: 2%;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		border-radius: 8px;
		justify-items: flex-end;
		justify-content: space-between;
	}
	
	.modal-item-img {
		width: 50%;
		height: 100%;
		position: relative;
		float: left;
		object-fit: cover;
		border-radius: 8px;
		margin-right: 5%;
		margin-bottom: 2%;
	}
	
	.modal-body {
		height: 100%;
		width: 100%;
		background-color: #FFFFFF;
		font-size: 1.2em;
		overflow-y: scroll;
		margin-bottom: 3%;
		z-index: -1;
		padding-right: 3%;
	}
	
	.bids {
		height: 20%;
		width: 100%;
		overflow-y: scroll;
		margin: 1% 0 3% 0;
	}

	}

	@media all and (min-width: 900px) {
		.bid-modal {
			width: 800px;
			height: 600px
		}

		.splash-img {
			width: 10%;
			object-fit: contain;
		}

		.modal-body::-webkit-scrollbar {
			display: block;
		  }

		.nav-bar {
			width: 100%;
			padding: 25px 40px 25px 40px; 
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #FFFFFF;
			position: fixed;
			z-index: 1;
		}
		
		.nav-img {
			width: 135px;
			object-fit: contain;
		}
		
		.card-container {
			margin: 0 auto 5% auto;
			padding-top: 150px;
			width: 90%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.pseudo {
			display: inline;
			width: 135px;
			height: 0px;
		}

	}

	@media all and (max-width: 680px) {
		.bid-modal {
			z-index: 1;
			position: fixed;
			height: 95%;
			margin: 5% 0 15% 0;
			width: 90vw;
			background-color: white;
			padding: 5%;
			display: flex;
			flex-direction: column;
			align-items: center;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
			border-radius: 8px;
			justify-items: flex-end;
			justify-content: space-between;
		}
		
		.modal-item-img {
			width: 100%;
			height: 60%;
			float: auto;
			object-fit: cover;
			border-radius: 8px;
			margin-bottom: 5%;
		}

		.bids {
			height: 13.5%;
			width: 100%;
			overflow-y: scroll;
			margin: 2% 0 5% 0;
			color: #808080
		}

		.bids-title {
			color: #808080
		}
		}

*::-webkit-scrollbar       {background-color:#fff;width:16px}
*::-webkit-scrollbar-track {background-color:#fff}
*::-webkit-scrollbar-thumb {background-color:#babac0;border-radius:16px;border:4px solid #fff}

